<div class="gallery js-flickity">
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
</div>

<div class="alignRow">
  <div class="imageColumn">
    <img src="assets/img/mask.jpeg" alt="mask" />
    <div class="texto">PROTECCIÓN</div>
  </div>
  <div class="imageColumn">
    <img src="assets/img/kids.jpeg" alt="kids" />
    <div class="texto">MODA INFANTIL</div>
  </div>
</div>

<h2 class="mas-buscados">PRODUCTOS MÁS BUSCADOS</h2>

<div class="cards-random">
  <div class="card" *ngFor="let item of random">
    <img [src]="item.thumbnail" alt="Avatar" style="width: 100%" />
    <div class="container">
      <h4>{{ item.title }}</h4>
      <p class="price">COP {{ item.price | currency }}</p>
      <button class="suma-cart">
        <a [href]="item.permalink" target="_blank" style="color: white">Ir a la tienda</a
        >
      </button>
    </div>
</div>
