<div class="gallery js-flickity">
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
</div>

<div class="alignRow">
  <div class="imageColumn">
  <img src="assets/img/mask.jpeg" alt="mask">
  <div class="texto">PROTECCIÓN</div>
</div>
  <div class="imageColumn">
  <img src="assets/img/kids.jpeg" alt="kids">
  <div class="texto">MODA INFANTIL</div>
  </div>
</div>

<h2 class="mas-buscados">PRODUCTOS MÁS BUSCADOS</h2>

<div class="cards">
  <div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="desc"> - 50%</div>
    <div class="container">
      <h4><b>Product Name</b></h4> 
      <p class="price">$$$ Price</p> 
      <button class="suma-cart">
        <span class="cart-button">
          <i class='bx bx-cart'></i></span>
          Agregar al carrito
      </button>
    </div>
  </div>

<div class="card">
  <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
  <div class="desc"> - 25%</div>
  <div class="container">
    <h4><b>Product Name</b></h4> 
    <p class="price">$$$ Price</p> 
    <button class="suma-cart">
      <span class="cart-button">
        <i class='bx bx-cart'></i></span>
        Agregar al carrito
    </button>
  </div>
</div>

<div class="card">
  <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
  <div class="desc"> - 30%</div>
  <div class="container">
    <h4><b>Product Name</b></h4> 
    <p class="price">$$$ Price</p> 
    <button class="suma-cart">
      <span class="cart-button">
        <i id="" class='bx bx-cart'></i></span>
        Agregar al carrito
    </button>
  </div>
</div>

<div class="card">
  <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
  <div class="desc"> - 50%</div>
  <div class="container">
    <h4><b>Product Name</b></h4> 
    <p class="price">$$$ Price</p> 
    <button class="suma-cart">
      <span class="cart-button">
        <i class='bx bx-cart' style='color:#ffffff' ></i></span>
        Agregar al carrito
    </button>
  </div>
</div>

</div>