<header>

    <a href="logo-link">
        <img src="assets/img/logo.png" class="logo">
    </a>

    <form class="example" action="#">
        <input type="text" placeholder="Buscar producto" name="search2"
        [(ngModel)]="search">
        <button type="submit" (click)="searchButton()"><i class='bx bx-search'></i></button>
    </form>

    <div class="div-right">
        <ul class="right">
        <li>
            <a href="#cart">
                <i class='bx bx-cart item-right'>
                <p class="cart-counter">0</p>
                </i>
            </a>
        </li>

        <li>
            <a href="#profile"><i class='bx bx-user item-right'></i></a>
        </li>

        <li>
            <a href="#login"><button type="submit" class="item-right">Iniciar Sesión</button></a>
        </li>
    </ul>
</div>
</header>

<nav class="nav-bar">
    <ul class="navlist">
    <li class="list-nav">
        <a href="#hombre">Hombre</a>
    </li>
    <li class="list-nav">
        <a href="mujer">Mujer</a>
    </li>
    <li class="list-nav">
        <a href="junior">Junior</a>
    </li>
    <li class="list-nav">
        <a href="ninios">Niños</a>
    </li>
    <li class="list-nav">
        <a href="accesorios">Accesorios</a>
    </li>
    <li class="list-nav">
        <a href="ofertas">Ofertas</a>
    </li>
</ul>
</nav>