* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

/* HEADER */
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: sticky;
}

.logo {
    width: 20vw;
    display: inline;
    cursor: pointer;
}

.example {
    width: 40vw;
    box-sizing: border-box;
    display: flex;
}
form.example input[type=text] {
    border: 1px solid grey;
    width: 100%;
    background: rgb(190, 190, 190);
    border: none;
    outline: none;
    height: 100%;
    padding: 9.5px;
    overflow: hidden;
    display: inline-block;
}
form.example button {
    display: inline-block;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgb(190, 190, 190);
    box-sizing: content-box;
    padding-top: 5px;
}

.right {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 30vw;
}

ul.right {
    padding: 0;
    box-sizing: border-box;
}

.item-right {
    align-self: center;
    overflow: hidden;
    display: inline-block;
    color: black;
}

li{
    list-style: none;
    margin: 0 30px;
    cursor: pointer;
}

li button{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
}

i.item-right {
    font-size: 50px;
}

.right li:nth-of-type(1){
    position: relative;
    display: inline-block;
    width: 60px;
}

.cart-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 10px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: brown;
    border-radius: 50% 20% / 10% 40%;
    padding: 4px;
}

/* NAVBAR */

.nav-bar {
    background-color: black;
}

.navlist {
    display: flex;
    height: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.navlist li {
    align-self: center;
    border-right: solid white 1px;
    margin: 0;
    padding: 15px 60px;
}

.navlist li:last-child {
    border: none;
}

.list-nav a {
    color: white;
    transition: .5s;
    font-size: 1.5vw;
}

.list-nav a:hover {
    text-shadow: 2px 2px rgb(190, 190, 190, .5);
    font-size: 2vw;
}

/* SLIDER */

.gallery.js-flickity {
    box-sizing: border-box;
    margin-bottom: 100px;
    height: 500px;
    width: 100%;
}

.gallery-cell {
    width: 100%;
    height: 100%;
    counter-increment: gallery-cell;
    position: relative;
    background: no-repeat center center scroll;
    background-position: center;

}

.gallery-cell:nth-child(1) {
    background-image: url("/assets/img/slider/s1.png");
}

.gallery-cell:nth-child(2) {
    background-image: url('/assets/img/slider/S2.png');
}

.gallery-cell:nth-child(3) {
    background-image: url('/assets/img/slider/s3.png');

}

.gallery-cell:before {
    display: block;
    content: counter(gallery-cell);
    color: rgb(255, 255, 255, 0);
}

/* SECTION */

.imageColumn {
    align-self: center;
    width: 50%;
    text-align: center;
    position: relative;
    display: inline-block;
}

.imageColumn img {
    width: 90%;
    border-radius: 10px;
}

.texto {
    position: absolute;
    top: 80%;
    right: 25%;
    font-size: 3vw;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    box-sizing: border-box;
    overflow: hidden;
    text-shadow: 2px 2px rgb(37, 37, 37, .5);
}

/* PRODUCTS */

.mas-buscados {
    text-align: center;
    margin: 80px 0;
    font-size: 3vw;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.desc {
    position: absolute;
    top: 1%;
    right: 5%;
    background-color: #000000;
    font-size: 100%;
    padding: 0 5px 0 5px;
    color: white;
    letter-spacing: 1px;
    box-sizing: border-box;
    overflow: hidden;
}

.card img {
    height: 60%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
}

.container h4 {
    margin: 10px 10px;
}

button.suma-cart {
    display: inline-block;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 60%;
    align-items: center;
}

.price {
    margin: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(133, 60, 133);
}

/* FOOTER */

.pie {
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.div-ftr {
    margin-top: 70px;
}

.pie-item {
    color: white;
    display: inline-block;
    align-self: center;
    margin-bottom:15px;
}

.div-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div-icons i {
    margin: 10px 5px 0 5px;
    font-size: 30px;
}

.copy {
    border-top: solid white 1px;
    background-color: black;
    display: inline-block;
    color: white;
    width: 100vw;
    text-align: center;
}

.copy p {
    margin: 20px 0 20px 0;
}


@media screen and (max-width:1200px) {

    .example {
        width: 60vw;
        margin-right: 10vw;
    }

    .div-right{
        width: 50%;
    }

    .right li {
        width: 30%;
    }

    ul.right {
        margin-left: 10px;
        width: 100%;
    }

    .list-nav a {
        margin: 20px 0;
    }

    .right li:nth-of-type(1){
        font-size: 50px;
    }
}

@media screen and (max-width:850px) {

    .navlist {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .navlist li {
        border: none;
        margin: 5px;
        padding: 5px;
    }

    .list-nav a:hover {
        text-shadow: 2px 2px rgb(190, 190, 190, .5);
        font-size: 3vw;
    }

    .list-nav a {
        font-size: 2.5vw;
        letter-spacing: 4px;
    }

    i.item-right {
        font-size: 5vw;
    }

    .right li:nth-of-type(1){
        font-size: 50px;
    }


}

@media screen and (max-width:550px) {
    .pie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .div-ftr {
        margin-top: 30px;
        align-self: center;
    }

    .div-ftr.follow {
        margin-bottom: 30px;
    }

    .div-icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    li.list-nav {
        padding: 5px;
    }

    .right li:nth-of-type(1){
        font-size: 50px;
    }

}

/* SECCION MERCADOLIBRE */

.searching {
    width: 70%;
    margin: 0 auto;
}