* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:black;
}

/* HEADER */
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.logo {
    width: 20vw;
    display: inline;
    cursor: pointer;
}

.example {
    width: 40vw;
    box-sizing: border-box;
    display: flex;
}
form.example input[type=text] {
    border: 1px solid grey;
    width: 100%;
    background: rgb(190, 190, 190);
    border: none;
    outline: none;
    height: 100%;
    padding: 9.5px;
    overflow: hidden;
    display: inline-block;
}
form.example button {
    display: inline-block;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgb(190, 190, 190);
    box-sizing: content-box;
    padding-top: 5px;
}

.div, .right {
    width: 100%;
}

.right {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 30%;
}

.item-right {
    align-self: center;
    overflow: hidden;
    display: inline-block;
}

li{
    list-style: none;
    margin: 0 30px;
    cursor: pointer;
}

li button{
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
}

i.item-right {
    font-size: 30px;
}

/* NAVBAR */

.nav-bar {
    background-color: black;
}

.navlist {
    display: flex;
    height: 90px;
    justify-content: center;
    flex-wrap: wrap;
}

.navlist li {
    align-self: center;
    border-right: solid white 1px;
    margin: 0;
    padding: 15px 60px;
}

.list-nav a {
    color: white;
    transition: .5s;
    font-size: 1.5vw;
}

.list-nav a:hover {
    text-shadow: ;
}

/* SLIDER */

.gallery {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.gallery-cell {
    width: 100%;
    height: 500px;
    margin-right: 10px;
    counter-increment: gallery-cell;
}

.gallery-cell:nth-child(1) {
    background-image: url("/assets/img/slider/s1.jpg");
}

.gallery-cell:nth-child(2) {
    background-image: url('/assets/img/slider/s2.jpg');
}

.gallery-cell:nth-child(3) {
    background-image: url('/assets/img/slider/s3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.gallery-cell:before {
    display: block;
    content: counter(gallery-cell);
    color: rgb(255, 255, 255, 0);
}

/* SECTION */

.alignRow {
    display: flex;
}

.imageColumn {
    align-self: center;
    width: 50%;
    text-align: center;
    position: relative;
    display: inline-block;
}

.imageColumn img {
    width: 90%;
    border-radius: 10px;
}

.texto {
    position: absolute;
    top: 80%;
    right: 25%;
    font-size: 3vw;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    box-sizing: border-box;
    overflow: hidden;
    text-shadow: 2px 2px rgb(37, 37, 37, .5);
}

/* PRODUCTS */

.mas-buscados {
    text-align: center;
    margin: 80px 0;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin: 20px;
    justify-content: center;
}

.card img {
    height: 70%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    width: 90%;
    height: 80%;
    margin: 20px;
}

.container h4 {
    margin: 15px 0;
}

button.suma-cart {
    margin: 15px auto;
    text-align: center;
    font-size: 18px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.cart-button {
    color: white;
}