
<div class="pie">
    <div class="div-ftr politicas">
        <h4 class="pie-item">POLÍTICAS</h4><br/>
        <p class="pie-item">Políticas de privacidad</p><br/>
        <p class="pie-item">Políticas de cambio</p><br/>
        <p class="pie-item">Políticas de envío</p><br/>
        <p class="pie-item">Términos y condiciones</p><br/>
        <p class="pie-item">Responsabilidad social</p><br/>
    </div>

    <div class="div-ftr about-us">
        <h4 class="pie-item">SOBRE NOSOTROS</h4><br/>
        <p class="pie-item">Encuentra tu tienda</p><br/>
        <p class="pie-item">Contáctanos</p><br/>
        <p class="pie-item">Trabaja con nosotros</p><br/>
    </div>

    <div class="div-ftr follow">
        <h4 class="pie-item">SÍGUENOS EN:</h4><br/>
        <div class="div-icons">
            <i class='bx bxl-facebook' style='color:#ffffff' ></i><br/>
            <i class='bx bxl-twitter' style='color:#ffffff' ></i><br/>
            <i class='bx bxl-instagram-alt' style='color:#ffffff' ></i><br/>
            <i class='bx bxl-youtube' style='color:#ffffff' ></i><br/>
        </div>
    </div>

</div>

<div class="copy">
    <p class="pie-item">© Copyright Colombia. Todos los derechos reservados</p>
</div>