
<div class="pie">
    <div class="div-ftr politicas">
        <h4 class="pie-item">POLÍTICAS</h4><br/>
        <a href="#p-d-p"><p class="pie-item">Políticas de privacidad</p></a><br/>
        <a href="#p-d-c"><p class="pie-item">Políticas de cambio</p></a><br/>
        <a href="#p-d-e"><p class="pie-item">Políticas de envío</p></a><br/>
        <a href="#t-y-c"><p class="pie-item">Términos y condiciones</p></a><br/>
        <a href="#r-s"><p class="pie-item">Responsabilidad social</p></a><br/>
    </div>

    <div class="div-ftr about-us">
        <a href="#s-n"><h4 class="pie-item">SOBRE NOSOTROS</h4></a><br/>
        <a href="#e-t-t"><p class="pie-item">Encuentra tu tienda</p></a><br/>
        <a href="#c"><p class="pie-item">Contáctanos</p></a><br/>
        <a href="#t-c-n"><p class="pie-item">Trabaja con nosotros</p></a><br/>
    </div>

    <div class="div-ftr follow">
        <h4 class="pie-item">SÍGUENOS EN:</h4><br/>
        <div class="div-icons">
            <a href="#fb"><i class='bx bxl-facebook' style='color:#ffffff' ></i></a><br/>
            <a href="#tw"><i class='bx bxl-twitter' style='color:#ffffff' ></i></a><br/>
            <a href="#ig"><i class='bx bxl-instagram-alt' style='color:#ffffff' ></i></a><br/>
            <a href="#yt"><i class='bx bxl-youtube' style='color:#ffffff' ></i></a><br/>
        </div>
    </div>

</div>

<div class="copy">
    <p class="pie-item">© Copyright Colombia. Todos los derechos reservados</p>
</div>