<section class="searching">
<div class="cards">
    <div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Product Name</b></h4>
        <p class="price">$$$ Price</p>
        <button class="suma-cart">
            <span class="cart-button">
            <i class='bx bx-cart'></i></span>
            Agregar al carrito
        </button>
        </div>
    </div>

<div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Product Name</b></h4> 
        <p class="price">$$$ Price</p> 
        <button class="suma-cart">
        <span class="cart-button">
            <i class='bx bx-cart'></i></span>
            Agregar al carrito
        </button>
    </div>
</div>

<div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Product Name</b></h4> 
        <p class="price">$$$ Price</p> 
        <button class="suma-cart">
        <span class="cart-button">
            <i id="" class='bx bx-cart'></i></span>
            Agregar al carrito
        </button>
    </div>
</div>

<div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Product Name</b></h4> 
        <p class="price">$$$ Price</p> 
        <button class="suma-cart">
        <span class="cart-button">
          <i class='bx bx-cart' style='color:#ffffff' ></i></span>
          Agregar al carrito
      </button>
    </div>
  </div>

  <div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Product Name</b></h4> 
        <p class="price">$$$ Price</p> 
        <button class="suma-cart">
        <span class="cart-button">
            <i class='bx bx-cart'></i></span>
            Agregar al carrito
        </button>
    </div>
</div>

<div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Product Name</b></h4> 
        <p class="price">$$$ Price</p> 
        <button class="suma-cart">
        <span class="cart-button">
            <i class='bx bx-cart'></i></span>
            Agregar al carrito
        </button>
    </div>
</div>

<div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Product Name</b></h4> 
        <p class="price">$$$ Price</p> 
        <button class="suma-cart">
        <span class="cart-button">
            <i class='bx bx-cart'></i></span>
            Agregar al carrito
        </button>
    </div>
</div>

<div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Product Name</b></h4> 
        <p class="price">$$$ Price</p> 
        <button class="suma-cart">
        <span class="cart-button">
            <i class='bx bx-cart'></i></span>
            Agregar al carrito
        </button>
    </div>
</div>

<div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Product Name</b></h4> 
        <p class="price">$$$ Price</p> 
        <button class="suma-cart">
        <span class="cart-button">
            <i class='bx bx-cart'></i></span>
            Agregar al carrito
        </button>
    </div>
</div>

<div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Product Name</b></h4> 
        <p class="price">$$$ Price</p> 
        <button class="suma-cart">
        <span class="cart-button">
            <i class='bx bx-cart'></i></span>
            Agregar al carrito
        </button>
    </div>
</div>

<div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Product Name</b></h4> 
        <p class="price">$$$ Price</p> 
        <button class="suma-cart">
        <span class="cart-button">
            <i class='bx bx-cart'></i></span>
            Agregar al carrito
        </button>
    </div>
</div>

<div class="card">
    <img src="assets/img/men.jpeg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Product Name</b></h4> 
        <p class="price">$$$ Price</p> 
        <button class="suma-cart">
        <span class="cart-button">
            <i class='bx bx-cart'></i></span>
            Agregar al carrito
        </button>
    </div>
</div>
</div>

</section>